Package: vop
Version: 0.3.6
Maintainer: Philipp T.
Architecture: all
Description: VirtualOp scripting framework
Depends: git, ruby, ruby-dev, ruby-bundler, build-essential, redis-server, openssh-server
